@page
@using System.Runtime.InteropServices
@using System.IO
@using System.Diagnostics
@model DBUrlModel
@{
    ViewData["Title"] = "Database URL Page";
    var process = Process.GetCurrentProcess();
}

<div class="text-center">
    <h1 class="display-4">Welcome to Database URL Page</h1>

    <h5>Environment</h5>
    <p>@Environment.GetEnvironmentVariable("DATABASE_URL")</p>
</div>